@model WebAPI.Models.FullTaskInfo

@{
    ViewBag.Title = "TaskDetails";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/redirector")

<h2>Task Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label id="Category" class="label-inf control-label col-md-0"></label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label id="Text" class="label-inf control-label col-md-0"></label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreatingDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label id="CreatingDate" class="label-inf control-label col-md-0"></label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Creator name</label>
        <div class="col-md-10">
            <label id="CreatorName" class="label-inf control-label col-md-0"></label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Engineer name</label>
        <div class="col-md-10">
            <label id="EngineerName" class="label-inf control-label col-md-0"></label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
            <div class="admin-form">
                <select class="form-control" id="IsClosed-select">
                    <option value="false">Active</option>
                    <option value="true">Closed</option>
                </select>
            </div>
            <div class="user-form">
                <label id="IsClosed-label" class="label-inf control-label col-md-0"></label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Comment</label>
        <div class="col-md-10">
            <div class="admin-form">
                <textarea class="form-control" rows="3" id="Comment"></textarea>
            </div>
            <div class="user-form">
                <label id="comment-label" class="label-inf control-label col-md-0"></label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Screenshot</label>
        <div class="col-md-10">
            <input hidden="hidden" name="blobPath" />
            <img id="blobImage" src="" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="Save" class="btn btn-info" />
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#Save").click(function (event) {
            event.preventDefault();
            SaveData();
        });
        $("#blobImage").click(function (event) {
            window.open($('#blobImage').attr("src"));
        });

        LoadData();

        function LoadData() {
            function getCookie(name) {
                let matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            }

            $.ajax({
                type: 'GET',
                url: '/api/tasks/?taskId=' + @Model.Id + '&userId=' + getCookie('id'),
                dataType: 'json',
                success: function (data) {
                    $('#Category').text(data.Category);
                    $('#Text').text(data.Text);
                    $('#CreatingDate').text(new Date(data.CreatingDate).toLocaleDateString());
                    $('#CreatorName').text(data.CreatorName);
                    $('#EngineerId').val(data.EngineerId);
                    $('#EngineerName').text(data.EngineerName);
                    $('#Comment').val(data.Comment);
                    $('#comment-label').val(data.Comment);
                    $('#blobImage').attr("src", data.BlobPath);

                    if (data.IsClosed) {
                        $('#IsClosed-label').text("Closed");
                        $('#IsClosed-label').css("color", "coral");
                        $('#IsClosed-select').val("true");
                    }
                    else {
                        $('#IsClosed-label').text("Active");
                        $('#IsClosed-label').css("color", "green");
                        $('#IsClosed-select').val("false");
                    }

                    if (data.EngineerId == getCookie("id")) {
                        $('#Save').css("display", "inline-block");
                        $('.admin-form').css("display", "inline-block")
                        $('.user-form').css("display", "none")
                    }
                    else {
                        $('#Save').css("display", "none");
                        $('.admin-form').css("display", "none")
                        $('.user-form').css("display", "inline-block")
                    }
                },
                error: function () {
                    console.log("Error");
                }
            });
        };

        function SaveData() {
            var taskData = {
                Id: $('#Id').val(),
                IsClosed: $('#IsClosed-select').val(),
                Comment: $('#Comment').val()
            };
            console.log(taskData);

            $.ajax({
                type: 'PUT',
                url: '/api/tasks',
                data: 'id=' + taskData.Id + 
                    "&isClosed=" + taskData.IsClosed + "&comment=" + taskData.Comment,
                dataType: 'json',
                success: function (data) {
                    document.location.href = "/Support/Tasks";
                },
                error: function () {
                    console.log("Error");
                }
            });
        };
    })
</script>