@model WebAPI.Models.ProfileModel

@{
    ViewBag.Title = "UserInfo";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/redirector")

<h2>User info</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            <label>First Name</label>
        </dt>
        <dd>
            <label id="firstName" class="label-inf"></label>
        </dd>
        <dt>
            <label>Last Name</label>
        </dt>

        <dd>
            <label id="lastName" class="label-inf"></label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            <label id="patronymic" class="label-inf"></label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            <label id="phone" class="label-inf"></label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <label id="email" class="label-inf"></label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            <label id="role" class="label-inf"></label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            <label id="room" class="label-inf"></label>
        </dd>
    </dl>
</div>
</hr>
@*@Html.ActionLink("Edit", "UserInfoEdit")*@
<div class="form-group">
    <div class="col-md-offset-1 col-md-10">
        <a href="/Support/UserInfoEdit"><button class="btn btn-info">Edit</button></a>
    </div>
</div>

@Scripts.Render("~/bundles/userinfo")